body
  font-family: Helvetica, 'Lucida Grande', Geneva, Arial, Verdana, sans-serif
  background-color: rgba(16, 22, 26, 0.02)
  margin: 0

.dlw-app
  width: 100%

.dlw-title
  font-weight: bold

.tagline
  font-size: 13px

.git-icon
  fill: #5d7182

.samples
  display: flex
  flex-direction: row

.element-wise-inputs
  display: flex
  flex-direction: row

.mixed-dose-box
  margin-right: 25px
  margin-bottom: -25px

.submit-group
  display: flex
  flex-direction: row
  margin-top: 20px
  margin-bottom: 20px

.date-inputs
  width: 25%

.date-input-box
  height: 30px
  width: 100%
  padding: 10
  // copy pt-input styling
  border-radius: 3px
  border-style: solid
  border-width: 1px
  border-color: #d6d7d8
  font-size: 14px
  font-weight: 400

.delta-inputs
  margin-left: 20px
  width: 30%

.delta-unit-radio
  margin-left: 20px
  margin-top: 50px

.inputs-by-element
  margin-right: 20px
  width: 33%

.bp3-button
  width: 15%

.bp3-tag
  color: darkslategrey
  background-color: white
  font-size: 13px

::placeholder
  color: #bbc2ca

h5
  font-size: 15px
  margin-block-end: 1em

p
  font-size: 17px

.csv-name-input
  width: 30%
  margin-right: 20px

.results-display
  margin-top: 25px

.result-sections
  display: flex
  flex-direction: row
  justify-content: space-between

.result-section
  width: 30%

.result-pair
  display: flex
  flex-direction: row
  justify-content: space-between

.result-value
  font-weight: bold

.result-header-calc
  font-size: 20px
  margin-block-start: 0
  color: navy

.result-header-error
  font-size: 20px
  margin-block-start: 0
  color: darkred

.error-okay
  color: darkgreen

.error-not-okay
  color: #bf0000

.calculate-button, .export-button
  width: 18%
  height: 50%
  margin-top: 59px

.csv-input-new
  margin-right: 20px
  width: 25%

.csv-append
  margin-right: 20px
  width: 40%

.csv-input
  width: 90%

.subject-clear
  display: flex
  justify-content: space-between

.subject-id
  margin-right: 20px

.clear-button
  width: 130px
  margin-top: 19px